/cgi-bin
/error_log
/wordfence-waf.php
/wp-content/blogs.dir
/wp-content/cache
/wp-content/upgrade
/wp-content/uploads
/wp-content/w3tc-config
/wp-content/wfcache
/wp-content/wflogs
/sitemap.*
/wp-config.php
/staging
/wp-admin/error_log
.*
!.gitignore
~*
Thumbs.db

*.log
*.sql
*.sqlite

wp-content/plugins/hello.php
wp-content/plugins/wordpress-importer/
wp-content/plugins/google-analytics-dashboard-for-wp/
wp-content/plugins/jetpack/
wp-content/themes/twenty*/

wp-content/themes/portfolio/options/google-typography/
